<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="myNodeName" value="$safeprojectname$"/>
    <add key="starsServerName" value="localhost"/>
    <add key="keyFileName" value="$safeprojectname$.key"/>
    <add key="starsPort" value="6057"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
